.article{
	width:150px;
  	height:150px;
  	/*display: none;*/
  	background-color: white;
  	float:left;
  	text-align: center;
  	margin:5px;
}

.article div{
	visibility: hidden;
}
.article:hover>img{
	display: none;
}
.article img{
	width:150px;
  	height:150px;
}
.article:hover>div{
	width:150px;
  	height:150px;
  	background:#76fccd;
  	float:left;
  	color: black;
  	text-align: center;
  	padding-top:70px; 
  	visibility: visible;
}

a{
	color: black;
	text-decoration: none;
}

a:hover {
	color: #db6d16;
}